html,
body {
  height: 100vh;
  width: 100%;
  overflow: visible;
  margin: 0;
  color: black;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
  display: grid;
  grid-template-columns: 5fr 5fr;
  grid-template-rows: 1fr 1fr 10fr;
}

header {
  padding-right: 20px;
  padding-top: 10px;
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  display: grid;
  grid-template-rows: 1fr 1fr;
  justify-content: flex-end;
}

nav {
  padding-left: 15px;
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-content: flex-end;
}

.main-title {
  padding-left: 15px;
  grid-row: 2 / 3;
  grid-column: 1 / -1;
  align-self: flex-start;
  font-size: xx-large;
  font-weight: lighter;
}

main {
  padding-left: 15px;
  grid-row: 3 / -1;
  grid-column: 1 / -1;
}

.routes-grid-container {
  padding-right: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 1fr;
}

.route-one-card-info {
  display: grid;
  grid-template-rows: repeat(9, 1fr);
  grid-template-columns: 1fr 1fr;
}

.share-route {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
}

.views {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.num-of-views {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.share-image {
  max-width: 50px;
  max-height: 50px;
}

.route-name,
.date-stamp,
.route-link,
.routes-saved,
.name-routes-playlists,
.attachments,
.num-of-attachments {
  grid-column: 1 / -1;
}

/*
