html,
body {
  height: 100vh;
  width: 100%;
  overflow: visible;
  margin: 0;
  color: black;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
  display: grid;
  grid-template-columns: 6fr 6fr;
  grid-template-rows: 1fr 1fr 10fr;
}

header {
  background-color: #455A64;
  color: #212121;
  padding: 10px 25px 35px 0;
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  display: grid;
  grid-template-rows: 1fr 1fr;
  justify-content: flex-end;
}

.site-title {
  font-size: 3em;
  text-align: right;
  margin-right: 5px;
  color: white;
}

nav {
  background-color: #455A64;
  color: #212121;
  padding: 0 0 35px 20px;
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
}

.user,
.shares,
.playlists,
.personal-videos {
  display: flex;
  flex-direction: row;
}

.nav-icons {
  margin-right: 5px;
}

.shares,
.playlists,
.personal-videos {
  margin-right: 25px;
}

.shares-icon,
.playlists-icon,
.personal-videos-icon {
  max-width: 20px;
  max-height: 20px;
}

.profile-icon,
.drop-down-icon {
  max-width: 25px;
  max-height: 25px;
}

.main-title {
  background-color: #CFD8DC;
  padding: 30px 0 30px 20px;
  margin: 0;
  grid-row: 2 / 3;
  grid-column: 1 / -1;
  align-self: flex-start;
  font-size: 2em;
  font-weight: lighter;
}

main {
  background-color: #CFD8DC;
  padding-left: 20px;
  grid-row: 3 / -1;
  grid-column: 1 / -1;
}

.plants-grid-container {
  padding-right: 25px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 10px;
}

.card {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
  box-shadow: 1px 1px 1px 1px grey;
}

.plant-image {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.forward-icon-holder {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  padding: 13px 0 0 15px;
}

.view-count {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  display: flex;
  flex-direction: column;
  color: white;
}

.views {
  justify-self: flex-end;
  align-self: flex-end;
  padding-right: 15px;
  margin-bottom: 0;
  font-size: 0.8em;
}

.num-of-views {
  align-self: flex-end;
  margin-top: 0;
  padding-right: 15px;
  font-size: 2.2em;
}

.forward-icon {
  max-width: 50px;
  max-height: 50px;
  border-radius: 50%;
  border: 1px solid black;
  background-color: white;
}

.plant-info {
  background-color: white;
  grid-column: 1 / -1;
  display: grid;
  grid-template-rows: repeat(7, auto);
}

.plant-name,
.date-stamp,
.plant-link,
.card-playlists,
.name-plants-playlists,
.attachments,
.num-of-attachments {
  padding-left: 15px;
}

.plant-name,
.card-playlists,
.attachments {
  justify-self: flex-start;
  align-self: flex-end;
  margin-bottom: 0;
}

.date-stamp,
.name-plants-playlists,
.num-of-attachments {
  justify-self: flex-start;
  align-self: flex-start;
  margin-top: 0;
}

.plant-link {
  overflow-wrap: break-word;
  background-color: #CFD8DC;
  margin: 0 10px 0 10px;
  padding: 5px;
  min-height: 50px
}

.date-stamp,
.card-playlists,
.attachments {
  font-weight: lighter;
  font-size: 0.8em;
}

.plant-name,
.name-plants-playlists {
  font-size: 1.2em;
}

.num-of-attachments {
  font-size: 2.2em;
}

.one {
  background: linear-gradient(rgba(0, 0, 0, .4),
      rgba(0, 0, 0, .5)),url("./images/Staghorn-Fern.jpeg");
  height: 100%;
  background-size: 100% 100%;
}

.two {
  background: linear-gradient(rgba(0, 0, 0, .4),
      rgba(0, 0, 0, .5)),url("./images/Pothos.jpeg");
  height: 100%;
  background-size: 100% 100%;
}
.three {
  background: linear-gradient(rgba(0, 0, 0, .4),
      rgba(0, 0, 0, .5)),url("./images/Ponytail-Palm.jpeg");
  height: 100%;
  background-size: 100% 100%;
}

.four {
  background: linear-gradient(rgba(0, 0, 0, .4),
      rgba(0, 0, 0, .5)),url("./images/Spider-Plant.jpeg");
  height: 100%;
  background-size: 100% 100%;
}

.five {
  background: linear-gradient(rgba(0, 0, 0, .4),
      rgba(0, 0, 0, .5)),url("./images/Lucky-Bamboo.jpeg");
  height: 100%;
  background-size: 90% 100%;
}

.six {
  background: linear-gradient(rgba(0, 0, 0, .4),
      rgba(0, 0, 0, .5)),url("./images/Snake-Plant.jpeg");
  height: 100%;
  background-size: 100% 100%;
}

.seven {
  background: linear-gradient(rgba(0, 0, 0, .4),
      rgba(0, 0, 0, .5)),url("./images/Monstera.jpeg");
  height: 100%;
  background-size: 100% 100%;
}

.eight {
  background: linear-gradient(rgba(0, 0, 0, .4),
      rgba(0, 0, 0, .5)),url("./images/Fiddle-Leaf-Fig.jpeg");
  height: 100%;
  background-size: 100% 100%;
}

/*
